<div class="container" *ngIf="!user && isInitialized">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">    
      <div class="title">
        Take and eat partenaire 
      </div>
      <label for="email" class="sr-only">Nom du restaurant</label>
<input #name type="text" id="email" class="form-control" placeholder="Nom du restaurant" required="" autofocus="">
<label for="email" class="sr-only">Address email</label>
<input #email type="email" id="email" class="form-control" placeholder="Email address" required="" autofocus="">
<label for="inputPassword" class="sr-only">Mot de passe</label>
<input #password type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required="">
<br>
<button  class="btn btn-md btn-primary btn-block"  (click)="registerUser(email.value, password.value, name.value)">S'inscrire</button>
<a>Se connecter</a>
</div>
    <div class="col-lg-4"></div>
  </div>

</div>

<div class="container" *ngIf="user && isInitialized">
  <div class="title">Il y a pour l'instant {{totalOrders}} commandes</div>
  <div class="row">
<div class="card col-lg-4"  *ngFor="let order of orders | async" style="margin-top: 50px;">
    <h4 class="card-header" style="background: #66bbd0; color: white;">Commande No.A39BA</h4>
    <div style=" padding: 15px;
    font-weight: bold;
">Récapitulatif de la commande</div>
    <div style="margin-left: 20px;">
    <div class="card-body" style="padding: 0; font-weight: bold; color: #abacaf" *ngFor="let item of order.cart">
          <div class="card-title" style="
    padding: 10px;">{{item.name}}
          <span *ngIf="item.supplementsAdded" >
          <span style="font-weight: 100;
" *ngFor="let supp of item.supplementsAdded">
            +{{supp.name}}
          </span>
          </span>
        </div>
        </div>
    </div>
    <button class="btn btn-primary" style="    border-radius: 20px;" (click)="sendNotification(order)">Commande terminée</button>
  </div>
  </div>
  
</div>


